@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

details summary {
  cursor: pointer;
  transition: all 0.3s ease;
}

details summary > * {
  display: inline;
}

details {
  border: 1px solid #555;
  border-radius: 12px;
  padding: 1em 1.5em; /* A帽adido padding */
  transition: all 0.3s ease;
  line-height: 25px;
  margin: 1em auto; /* Centrado horizontal */
  max-width: 800px; /* Ancho m谩ximo */
  background: linear-gradient(135deg, #333333, #222222);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

details:not([disabled]):hover {
  background: linear-gradient(135deg, #444444, #333333);
  transition: all 0.3s ease;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

details:not([disabled]):hover::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 70%);
  animation: shineAnimation 5s infinite;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5rem;
  padding-left: 1.5rem;
  display: block;
  position: relative;
  z-index: 1;
}

details[open] {
  padding: 1em 1.5em; /* A帽adido padding */
  margin-top: -1em;
  background: linear-gradient(135deg, #555555, #444444);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

details[open] summary {
  border-bottom: 1px solid #555;
  margin-bottom: 0.5em;
  background-color: #555;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

details + details {
  margin-top: 10px !important;
}

a {
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #07f;
  padding: 2px 4px;
  border-radius: 4px;
  overflow: hidden;
}

a:visited {
  color: #07f;
}

a:hover {
  color: #fff;
  background: linear-gradient(to right, #07f, #0bf);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

a::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 70%);
  animation: shineAnimation 5s infinite;
  z-index: -1;
}

body {
  font-family: 'Google Sans', sans-serif;
  padding: 11px 20px;
  background: radial-gradient(ellipse at bottom, #111111, #000000 50%);
  color: lightgray;
  animation: gradientAnimation 10s ease infinite;
  background-size: 400% 400%;
}

pre {
  line-height: 15px;
  background-color: #393939;
  padding: 10px 10px 10px 0;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

pre::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 70%);
  animation: shineAnimation 5s infinite;
  z-index: -1;
}

details:not([disabled]) summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 0.9rem;
  left: 0.7rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[disabled] summary:before {
  font-size: 0.8em;
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.4rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
}

details[disabled] {
  color: #777;
  opacity: 0.6;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

details[disabled] summary {
  pointer-events: none;
  user-select: none;
}

.wrapper {
  cursor: not-allowed;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #07f, #0bf);
  transform: translateX(-101%);
  animation: underlineAnimation 1s forwards;
}

h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5); /* Efecto de ne贸n */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Efecto de ne贸n */
  animation: glowAnimation 2s infinite alternate; /* Animaci贸n de ne贸n */
}

@keyframes shineAnimation {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(100%) rotate(45deg);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes underlineAnimation {
  0% {
    transform: translateX(-101%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes glowAnimation {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
}