@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}

details {
  border: 1px solid #555;
  border-radius: 8px;
  padding: 0.5em 0.5em 0;
  transition: 300ms;
  line-height: 25px;
  margin-bottom: 0.5em;
  margin-top: -1em;
  background: linear-gradient(135deg, #333333, #222222);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

details:not([disabled]):hover {
  background: linear-gradient(135deg, #444444, #333333);
  transition: 300ms;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5rem;
  padding-left: 1.5rem;
  display: block;
  position: relative;
}

details[open] {
  padding: 0.5em;
  margin-top: -1em;
  background: linear-gradient(135deg, #555555, #444444);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

details[open] summary {
  border-bottom: 1px solid #555;
  margin-bottom: 0.5em;
  background-color: #555;
}

details + details {
  margin-top: 10px !important;
}

a {
  position: relative;
  text-decoration: none;
  transition: 300ms;
  color: #07f;
}

a:visited {
  color: #07f;
}

a:hover {
  color: #fff;
  background: linear-gradient(to right, #07f, #0bf);
  padding: 2px 4px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'Google Sans', sans-serif;
  padding: 11px 20px;
  background: linear-gradient(135deg, #000000, #111111);
  color: lightgray;
}

pre {
  line-height: 15px;
  background-color: #393939;
  padding: 10px 10px 10px 0;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

details:not([disabled]) summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 0.9rem;
  left: 0.7rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[disabled] summary:before {
  font-size: 0.8em;
  content: "🔒";
  position: absolute;
  top: 0.5rem;
  left: 0.4rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
}

details[disabled] {
  color: #777;
  opacity: 0.6;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

details[disabled] summary {
  pointer-events: none;
  user-select: none;
}

.wrapper {
  cursor: not-allowed;
}
