@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

details summary {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
}

details {
  border: 1px solid #666;
  border-radius: 8px;
  padding: 0.75em;
  line-height: 1.5;
  margin-bottom: 1em;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

details:hover {
  background-color: #444;
}

summary {
  margin: -0.75em -0.75em 0;
  padding: 0.75em 0.75em 0.75em 1.75em;
  display: block;
  position: relative;
}

details[open] summary {
  border-bottom: 1px solid #666;
  margin-bottom: 0.75em;
}

details + details {
  margin-top: 1em;
}

a {
  color: #07f;
  text-decoration: none;
  border-bottom: 1px dashed transparent;
  transition: border-color 0.3s ease;
}

a:hover {
  color: #4af;
  border-color: #4af;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 1em;
  background-color: #222;
  color: #ddd;
}

pre {
  line-height: 1.4;
  background-color: #444;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

details:not([disabled]) summary:before {
  content: "";
  border-width: 0.35rem;
  border-style: solid;
  border-color: transparent transparent transparent #ddd;
  margin-right: 0.5em;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[disabled] summary:before {
  font-size: 0.8em;
  content: "🔒";
  margin-right: 0.5em;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
}

details[disabled] {
  color: #777;
  opacity: 0.6;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

details[disabled] summary {
  pointer-events: none;
  user-select: none;
}
